<!DOCTYPE html>
<html>
    <head>
        <title>Plant Disease Detection</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    </head>
    <body>
    	<div id="landing-header">
 			<h1><strong>Welcome to Plant Disease Detection</strong></h1>
			<a href="/plants" id="home-button" class="btn btn-lg btn-primary"><strong>Select the Plant</strong></a>
    	</div>
    
    	<ul class="slideshow">
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
      		<li></li>
    	</ul>

<%- include('partials/footer') %>